.container {
    display: grid;
    grid-template-columns: minmax(300px,1fr) minmax(300px,3fr);
}

category-images,
big-images{
	display: block;
}

.btn {
	color: green;
}

aside {
	max-width: 400px;
	width: 100%;
}

